In [2]:
import os
import glob
import pandas as pd
import pickle

from src.wimbd_ import _load_dataset

pd.set_option('display.max_columns', 20)
pd.set_option('display.width', 2)
pd.set_option('display.max_rows', 500)

# doc_results_pth = "./models/experiment_5/inference/EleutherAI/pythia-1.4b/TRIVIA_QA/triviaqa/4-shot/doc_results.json"
# doc_results = pd.read_json(doc_results_pth)

[nltk_data] Downloading package punkt to
[nltk_data]     /local/home/antonis/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     /local/home/antonis/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[dynet] random seed: 1234
[dynet] allocating memory: 32MB
[dynet] memory allocation done.

In [3]:
mmlu = _load_dataset('mmlu', tasks='astronomy')

Loading dataset mmlu

In [4]:
mmlu['astronomy']['test'][12]

{'question': 'The Large Magellanic Cloud is ...',
 'choices': ['a dwarf galaxy orbiting the Milky Way.',
  'the closest planetary nebula to the Earth.',
  'a bright star cluster discovered by Magellan.',
  'the outer arm of the Milky Way named after Magellan.'],
 'answer': 0}

In [9]:
pth = "./results/n-grams/mmlu/pile/exp4_filter/test-set/exp_full_None/5/examples_dfs_0-shot_common_models.pkl"
df = pd.read_pickle(pth)
# df = pd.read_csv(pth)

In [10]:
df['pythia-12b'].head()

,Q,A,value,example,task,pair,coverage,query,sum,count,id,gold,query_drop,choices,lls,probs,probs_softmax,probs_gold,probs_softmax_gold
0,2 ← 3 r ←,3 2,163819,{'question': 'Consider the following code segm...,high_school_computer_science,"(2 ← 3 r ←, 3 2)",0.016215,"Consider the following code segment, which use...",29464541,84,71_19,0,"Consider the following code segment, which use...","[A, B, C, D]","[[-1.9638671875, -1.7138671875, -1.2919921875,...","[[0.1403147469186024, 0.18016770137959348, 0.2...","[[0.23536338657566125, 0.24493272968495353, 0....","[0.1403147469186024, 0.18016770137959348, 0.27...","[0.23536338657566125, 0.24493272968495353, 0.2..."
1,display r display displayed result,1 1,0,{'question': 'Consider the following code segm...,high_school_computer_science,"(display r display displayed result, 1 1)",0.016215,"Consider the following code segment, which use...",29464541,84,71_19,0,"Consider the following code segment, which use...","[A, B, C, D]","[[-1.9638671875, -1.7138671875, -1.2919921875,...","[[0.1403147469186024, 0.18016770137959348, 0.2...","[[0.23536338657566125, 0.24493272968495353, 0....","[0.1403147469186024, 0.18016770137959348, 0.27...","[0.23536338657566125, 0.24493272968495353, 0.2..."
2,r ← 1 ← 2,1 1,110932,{'question': 'Consider the following code segm...,high_school_computer_science,"(r ← 1 ← 2, 1 1)",0.016215,"Consider the following code segment, which use...",29464541,84,71_19,0,"Consider the following code segment, which use...","[A, B, C, D]","[[-1.9638671875, -1.7138671875, -1.2919921875,...","[[0.1403147469186024, 0.18016770137959348, 0.2...","[[0.23536338657566125, 0.24493272968495353, 0....","[0.1403147469186024, 0.18016770137959348, 0.27...","[0.23536338657566125, 0.24493272968495353, 0.2..."
3,r r ← 1 ←,2 3,110826,{'question': 'Consider the following code segm...,high_school_computer_science,"(r r ← 1 ←, 2 3)",0.016215,"Consider the following code segment, which use...",29464541,84,71_19,0,"Consider the following code segment, which use...","[A, B, C, D]","[[-1.9638671875, -1.7138671875, -1.2919921875,...","[[0.1403147469186024, 0.18016770137959348, 0.2...","[[0.23536338657566125, 0.24493272968495353, 0....","[0.1403147469186024, 0.18016770137959348, 0.27...","[0.23536338657566125, 0.24493272968495353, 0.2..."
4,r ← 1 ← 2,2 3,107715,{'question': 'Consider the following code segm...,high_school_computer_science,"(r ← 1 ← 2, 2 3)",0.016215,"Consider the following code segment, which use...",29464541,84,71_19,0,"Consider the following code segment, which use...","[A, B, C, D]","[[-1.9638671875, -1.7138671875, -1.2919921875,...","[[0.1403147469186024, 0.18016770137959348, 0.2...","[[0.23536338657566125, 0.24493272968495353, 0....","[0.1403147469186024, 0.18016770137959348, 0.27...","[0.23536338657566125, 0.24493272968495353, 0.2..."

In [ ]:
df['pythia-12b']['alignment_score'].isna().sum()

In [ ]:
df['pythia-12b']['alignment_score'].mean()

In [ ]:
df_model = df['pythia-12b'].sort_values(by='value', ascending=False)

for task in df_model['task'].unique():
    print(f"Task: {task}")
    display(df_model[df_model['task'] == task])

In [ ]:
df['en-es']

In [ ]:
pth = "./results/n-grams/wmt09_gens/pile/exp4_/pythia-12b/n_samples_100_fkeyFalse_rkeyFalse_fstopFalse_onlyalphaTrue/4/common/lang_dfs_filter_charsFalse_percentile0_detect_langFalse_filter_entitiesFalse_filter_stopwordsFalse_align_langs0.8_debugFalse.pkl"
df = pd.read_pickle(pth)
df['en-es']

In [ ]:
pth_2 = "./results/n-grams/triviaqa/pile/exp_3/validation-set/n_samples_None_fkeyFalse_rkeyFalse_fstopTrue_onlyalphaFalse/3/common/task_df_filter_charsTrue_percentile0.pkl"
df_2 = pd.read_pickle(pth_2)

In [ ]:
df_2

In [ ]:
df.iloc[0]['example']

In [ ]:
df = {'pythia-12b': df['pythia-12b']}
# export as pickle
with open(pth, 'wb') as f:
    pickle.dump(df, f)

In [ ]:
df.keys()

In [ ]:

## MMLU OLMO
pth = "./results/n-grams/mmlu/dolma/exp4_infini/n_samples_None_fkeyFalse_rkeyFalse_fstopTrue_onlyalphaFalse/3/common/task_df_filter_charsTrue_percentile0.pkl"
pth = "./results/n-grams/mmlu/dolma/exp4_infini/n_samples_None_fkeyFalse_rkeyFalse_fstopTrue_onlyalphaFalse_copy/3/examples_dfs_0-shot_common_olmo_models.pkl"
df = pd.concat(pd.read_pickle(pth))
# df = pd.DataFrame(pd.read_pickle(pth))

## SCIQ + PILE
# pth = "./results/n-grams/trivia_qa/pile/exp3/test-set/n_samples_None_fkeyFalse_rkeyFalse_fstopFalse_onlyalphaFalse/7/all/trivia_qa.pkl"
# pth = "./results/n-grams/sciq/pile/exp4_infini/n_samples_None_fkeyFalse_rkeyFalse_fstopTrue_onlyalphaFalse/3/common/task_df_filter_charsTrue_percentile0.pkl"
# df = pd.DataFrame(pd.read_pickle(pth)['sciq']).sort_values('value', ascending=False)

# ## TULUV2 + MMLU
# # ngram = 3:
# pth = "./results/n-grams/mmlu/tuluv2/local/all/n_samples_None_fkeyFalse_rkeyFalse_fstopFalse_onlyalphaFalse/3/common"
# # ngram = 2:
# # pth = "./results/n-grams/mmlu/tuluv2/local/all/n_samples_None_fkeyFalse_rkeyFalse_fstopTrue_onlyalphaFalse/2/common"
# pths = glob.glob(os.path.join(pth, "**/*.pkl"), recursive=True)
# dfs = {os.path.basename(pth).replace('.pkl', ''): pd.DataFrame(pd.read_pickle(pth)).T for pth in pths}
# dfs = {name: df.reset_index(drop=True) for name, df in dfs.items()}
# df = pd.concat(dfs.values(), keys=dfs.keys(), names=['dataset'])
# df = df.reset_index(level='dataset').sort_values('value', ascending=False)

In [ ]:
df

In [ ]:
len(df[df['value'] > 0])

In [ ]:
df

In [ ]:
len(df['dataset'].unique())

In [ ]:
# export 
df.to_csv(os.path.join(pth, 'results.csv'))

In [ ]:
df.head(500)

In [ ]:
dfs_keys = list(dfs.keys())
dfs_1 = dfs[dfs_keys[1]].T
dfs_2 = dfs[dfs_keys[0]].T

In [ ]:
dfs_1

In [ ]:
df.T

In [ ]:
df['example_clean'].iloc[20]

In [ ]:
len((df['example_clean'].unique()))

In [ ]:
len(doc_results)

In [ ]:
len(df[df['value'] > 0]) / len(df)